body {
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    background-image: url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=564&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin: 0;
}

.main-wrapper {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0 10px;
    max-width: 1200px;
}

h1 {
    text-align: center;
}

section {
    border: 1px solid white;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

a {
    color: white;
}

a:hover {
    display: block;
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1.05);
}

strong {
    display: block;
}

th, td {
    padding: 5px;
}

.intro {
    border: none;
}

.intro__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: none;
}

.intro__inner-wrapper {
    margin-left: 25px;
}

.profile-pic {
    border-radius: 5px;
    width: 100px;
}

.intro__parameters:first-child {
    margin-top: 0;
}

.intro__parameters {
    margin-bottom: 0;
}

.intro__info {
    display: block;
    margin: 0;
    font-weight: 700;
}

.intro__info:last-child {
    font-weight: 400;
}



.timetable__table {
    margin: 0 auto;
    margin-bottom: 20px;
    min-width: 250px;
}

.courses__table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
}

.courses__table thead {
    border-bottom: 1px solid white;
}

.courses__table td {
    padding: 10px;
}

.hidden-mobile {
    display: none;
}

.contacts__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.contacts li {
    list-style-type: none;
}

.contacts li:not(:first-child) {
    margin-left: 20px;
}

.contacts__svg {
    width: 25px;
    height: 25px;
}

.contacts__link:hover .contacts__svg {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1.2);
}

@media(min-width: 767px) {
    body {
        font-size: 16px;
    }

    h1 {
        margin: 50px auto;
    }

    .main-wrapper {
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 0 30px;
        max-width: 1200px;
    }

    .profile-pic {
        border-radius: 10px;
        width: 200px;
    }

    .hidden-mobile {
        display: table-cell;
    }

    .contacts__svg {
        width: 50px;
        height: 50px;
    }
}